<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calendar">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".appContext.MyContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calendar">
        <activity
            android:name=".testActivity4"
            android:exported="false" />
        <activity
            android:name=".testActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.Calendar" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".TipDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TipsActivity"
            android:exported="false" />
        <activity
            android:name=".EditActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 在 Manifest.xml文件中注册 FileProvider； -->
        <!-- android:name指定Provider所在的位置 -->
        <!--
        authorities：作为唯一标识，用来表明使用者.在分享文件生成Uri时，会通过它的值生成对应的Uri。
一般用包名 + 参数表示（android:authorities="${applicationId}.fileprovider"），
在FileProvider的函数getUriForFile()方法中需要传入该参数（APPLICATION_ID + ".fileProvider"）
如BuildConfig.APPLICATION_ID + ".fileProvider"
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.calendar.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- name：值为android.support.FILE_PROVIDER_PATHS不可修改 -->
            <!-- resource：是引用配置文件路径信息的xml文件。 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>